#map {
  position: relative;
  user-select: none;
}


#map img {
  position: absolute;
  user-select: none;
}


#map .player.gone { animation: bounce 0.4s infinite alternate; }


#map .badge {
  position: absolute;
  text-align: center;
  opacity: 0.6;
}

#map .badge.active {
  cursor: pointer;
  opacity: 0.9;
}

#map.exploration  .badge.active {
  transform-origin: 67px 85px;
  animation: pulsating 0.4s infinite alternate;
}

#map .badge.active img {
  transition: all 0.1s;
}


#map .badge.active:hover img {
  transform: translate(0, -5px);
  opacity: 1;
}
#map.exploration .badge.active:hover img {
  transform: translate(0, 0);
}


#map .item { position: absolute; }
#map .item.ship { animation: ship 0.8s infinite alternate; }
#map .item.visited { filter: grayscale(1) }

#map .waves .wave-1 { animation: waves 1.4s infinite alternate; }
#map .waves .wave-2 { animation: waves 1.6s infinite alternate; }
#map .waves .wave-3 { animation: waves 1.5s infinite alternate; }
#map .waves .wave-4 { animation: waves 1.3s infinite alternate; }

@keyframes waves {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-2px, 0); }
}


@keyframes ship {
  0% { transform: scale(-1, 1) rotate(0deg) translate(0, 2px); }
  100% { transform: scale(-1, 1) rotate(5deg) translate(0, 0) }
}

@keyframes shoreline {
  0% { opacity: 0.8; }
  100% { opacity: 0.7; }
}

@keyframes shoreline-north { 0% { transform: translate(0, 2px) rotate(0.1deg); } }
@keyframes shoreline-south { 0% { transform: translate(0, -2px) rotate(0.1deg); } }
@keyframes shoreline-north-west { 0% { transform: translate(2px, 2px) rotate(0.1deg); } }
@keyframes shoreline-south-west { 0% { transform: translate(2px, -2px) rotate(0.1deg); } }
@keyframes shoreline-north-east { 0% { transform: translate(-2px, 2px) rotate(0.1deg); } }
@keyframes shoreline-south-east { 0% { transform: translate(-2px, -2px) rotate(0.1deg); } }

#map .shoreline { z-index: auto; }
#map .shoreline.north { animation: shoreline-north 1.8s infinite alternate, shoreline 1s infinite alternate; }
#map .shoreline.south { animation: shoreline-south 1.7s infinite alternate, shoreline 1s infinite alternate; }
#map .shoreline.north_west { animation: shoreline-north-west 1.4s infinite alternate, shoreline 1s infinite alternate; }
#map .shoreline.south_west { animation: shoreline-south-west 1.5s infinite alternate, shoreline 1s infinite alternate; }
#map .shoreline.north_east { animation: shoreline-north-east 1.6s infinite alternate, shoreline 1s infinite alternate; }
#map .shoreline.south_east { animation: shoreline-south-east 1.5s infinite alternate, shoreline 1s infinite alternate; }
