body {
  background: #454545;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  user-select: none;
}

body.light .container * {
  animation: none !important;
}

#toggle-music-button {
  transform-origin: 67px 85px;
  position: absolute;
  top: -65px;
  right: -30px;
  transform: scale(0.5);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 220000000;
}


#toggle-hd-button {
  transform-origin: 67px 85px;
  position: absolute;
  top: -65px;
  right: 36px;
  transform: scale(0.5);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 220000000;
}


#toggle-music-button:hover { transform: scale(0.55) rotate(-15deg); }
#toggle-music-button:active { transform: scale(0.5); }
#toggle-music-button.muted { opacity: 0.5; }

#toggle-hd-button:hover { transform: scale(0.55) rotate(-15deg); }
#toggle-hd-button:active { transform: scale(0.5); }
#toggle-hd-button.muted { opacity: 0.5; }


#bottom-bar {
  position: absolute;
  width: 1450px;
  top: 955px;
  color: #666;
  text-align: center;
  font-size: 20px;
}
#bottom-bar a { color: inherit; text-decoration: none; }
#bottom-bar a:hover { color: #999 }
#bottom-bar a:active { color: #ccc }


#game {
  position: absolute;
  top: 36px;
  left: 40px;
  width: 1440px;
  height: 900px;
  background: #4c4c4c;
}

#game-container {
  position: relative;
  width: 1509px;
  height: 984px;
  margin: 30px auto;
  background: url("/images/ui/background.png");
}

.container .instructions-container {
  position: absolute;
  top: 180px;
  width: 751px;
  z-index: 2100000000;
  opacity: 1;
  height: 450px;
  background: url("/images/ui/instructions-background-short.png");
}


.container .instructions-container.tiny {
  height: 100px;
  width: 500px;
  background: url("/images/ui/instructions-background-tiny.png");
}


.container .instructions-container.medium {
  height: 450px;
  background: url("/images/ui/instructions-background-medium.png");
}


.container .instructions-container.tall {
  height: 620px;
  background: url("/images/ui/instructions-background-tall.png");
}

.container .instructions-container img.close {
  transform-origin: 67px 85px;
  position: absolute;
  cursor: pointer;
  right: -32px;
  top: -54px;
  transform: scale(0.3);
  opacity: 0.5;
  transition: all 0.3s;
  z-index: 2150000000;
}


.container .instructions-container img.close:hover { transform: scale(0.33) rotate(-15deg); }
.container .instructions-container img.close:active { transform: scale(0.3); }
.container .instructions-container img.close.muted { opacity: 0.5; }

.container .instructions-container p {
  position: static;
  width: auto;
  margin: 30px;
  text-align: justify;
}

.container .throw-dices-button {
  width: 150px;
  cursor: pointer;
  z-index: 2175000000;
}

.container .throw-dices-button.animated {
  animation: pulsating 0.4s infinite alternate;
}

.container .instructions-container .throw-dices-button {
  margin-left: 300px;
}

#throw-dices-button {
  position: absolute;
  top: 395px;
  left: 640px;
  width: 200px;
}

@keyframes pulsating {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}



@keyframes dice {
  0% { transform: scale(0.5) rotate(0deg); }
  100% { transform: scale(0.5) rotate(720deg); }
}


.container {
  position: relative;
  font-size: 24px;
  line-height: 30px;
}

.container h1 {
  position: absolute;
  cursor: default;
  user-select: none;
}

.container p, .container table {
  text-align: left;
  margin: 30px;
}

.container p span { color: #ffcc00; }
.container .self { color: #ffcc00; }
.container table { width: 60%; margin: 50px auto 30px; }
.container table td { padding: 8px 0; }
.container table td:first-child { text-align: right; padding-right: 12px; }
.container table td:last-child { text-align: left; padding-left: 12px; }

.container .button {
  height: 75px;
  width: 450px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 28px;
  line-height: 70px;
  background-image: url("/images/ui/button.png");
  color: #fff;
  margin: 60px auto 30px;
}
.container .button.enabled { cursor: pointer; }
.container .button.enabled:hover { color: #ffcc00; }
.container .button.enabled:active { line-height: 74px; }



.container.lobby .slots .slot {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  height: 60px;
  width: 666px;
  margin: 20px auto;
  background-image: url("/images/ui/lobby-button.png");
}
.container.lobby .slots .slot.empty { color: #888; }
.container.lobby .slots .slot.self { color: #ffcc00; }


.container .rolled-dices {
  position: absolute;
  z-index: 200000;
  right: 165px;
  top: -20px;
}
.container .rolled-dices .dice.disabled { opacity: 0.5; }

.container .lifes {
  position: absolute;
  z-index: 200000;
  right: 450px;
  top: -20px;
}
.container .lifes .life.lost { opacity: 0.5; }


.container .help-message {
  position: absolute;
  animation: bounce 0.4s infinite alternate;
  font-style: italic;
  width: 300px;
  z-index: 200000;
}
.container .help-message.origin { top: 740px; left: 120px; }
.container .help-message.destination { top: 50px; left: 1130px; }

@keyframes bounce {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, -4px); }
}
